# Ignore build directories
/build/
Software/build/

# Ignore VSCode settings file in Software subfolder
Software/.vscode/settings.json

# Ignore Logs
Software/logs

# Ignore macOS .DS_Store files
.DS_Store
